.header{
    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        li{
            display: inline-block;
            padding-right: 10px;
            cursor: pointer;
            img{
                width: 30px;
                transition: .2s;
            }
            &:hover{
                img{
                    opacity: .7;
                }
            }
        }

        &.isopen{
            li{
                img{
                    transform: rotate(-15deg);
                }
            }
        }
    }
}


#hambmenu {
    position: relative;
    z-index: 10000;
    width: 40px;
    height: 28px;
    float: left;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    margin-left: 20px;
}
#hambmenu span {
    position: absolute;
    height: 5px;
    width: 100%;
    vertical-align: middle;
    // margin: 20px 0 0 15px;
    background: #f2f2f2;
    border-radius: 8px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    padding: 0px;

 &:hover{
     opacity: .7;
 }
}

.hambclicker {
content: "";
height: 48px;
width: 55px;
position: absolute;
top: 8px;
left: 8px;
cursor: pointer;
z-index: 9;
}

#hambmenu span:nth-child(1) {
top: 0px;
}

#hambmenu span:nth-child(2), #hambmenu span:nth-child(3) {
top: 10px;
}

#hambmenu span:nth-child(4) {
top: 20px;
}

#hambmenu.isopen span:nth-child(1) {
top: 18px;
width: 0%;
left: 50%;
opacity: 0;
}

#hambmenu.isopen span:nth-child(2) {
transform: rotate(45deg);
}

#hambmenu.isopen span:nth-child(3) {
transform: rotate(-45deg);
}

#hambmenu.isopen span:nth-child(4) {
top: 18px;
width: 0%;
left: 50%;
opacity: 0;
}

#hambmenu.isopen {
    transform: rotate(-15deg);
}