.App{
    text-align: left;
    height: 100vh;
    overflow: scroll;
    position: relative;
    z-index: 1;
    background-color: #182628;
    transition: .25s ease;
    transform-origin: 0% 0%;
    padding: 30px;
}

.menu-tilt{
    transform: rotate(15deg);
}

