.App{
    text-align: left;
    height: 100vh;
    overflow: scroll;
    position: relative;
    z-index: 1;
    background-color: #65ccb8;
    transition: .25s ease;
    transform-origin: 0% 0%;
}

.menu-tilt{
    transform: rotate(25deg);
}
